.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 150px;
}

.contagemRegressiva {
    display: flex;
    width: 30vw;
    justify-content: space-between;
}

.iniciar {
    width: 10%;
}